@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ibarra+Real+Nova:ital@0;1&family=Lobster&family=Montserrat:wght@400;900&family=Open+Sans&family=Source+Sans+Pro:wght@300&display=swap');

body {
  font-family: "Montserrat";
}

.header{
  height: 65px;
  display: flex;
  align-items: center;
}
.logo{
  height: 60px;
  width: 60px;
  background-image: url("./img/logo.png");
  background-size: 100% 100%;
  margin-left: 37px;
  
}
.info{
  font-size: 25px;
  color: #4793FF;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 70px;
  height: 25px;
  
}
.city{
  margin-left: 730px;
}
.main{
  display: flex;
  
}
.this_day{
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 4px 2px rgba(224, 224, 224, 0.5);
  margin-top: 37px ;
  margin-left: 37px;
}
.weatherThisDay{
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin-top: 37px ;
  margin-left: 50px;
  box-shadow: 0 0 4px 2px rgba(224, 224, 224, 0.5);
  background-image: url("./img/cloud.png");
  background-repeat: no-repeat;
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

